# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# Vite files
.vite/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Coverage
coverage/

# Temporary files
tmp/
temp/

# Mac system files
.AppleDouble
.LSOverride

.npm